.load-card__settings {
  display: flex;
  justify-content: center;
}

.map-container {
  height: 20rem;
  width: 100%;
}

@media (max-width: 850px) {
  .map-container {
    height: 15rem; /* Adjusting the map height for mobile views */
  }

  .load-card__settings {
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 10px; /* Adding gap between buttons when they're stacked vertically */
    text-align: center;
  }
}
