.loads-list{
    position: absolute;
    display: inline-block;
    width: 80%;
    right: 0;
    padding: 0 2rem;
}

@media (max-width: 850px) {
    .loads-list{
        width: 100%;
        right: none;
        top: 110px;
    }
}